<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h2>Login</h2>
<label for="username" style="display: block;">
    <p class="label-txt">Username</p>
    <input id="username" name="username" type="text" class="input" style="color: black" required>
    <div class="line-box">
        <div class="line"></div>
    </div>
<label for="password" style="display: block;">
        <p class="label-txt">Password</p>
        <input id="password" name="nickname" type="text" class="input" style="color: black" required>
        <div class="line-box">
            <div class="line"></div>
        </div>
</label>
</body>
</html>