<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>

<h2>Register</h2>

<label for="firstName" style="display: block;">
    <p class="label-txt">First Name:</p>
    <input id="firstName" name="firstName" type="text" class="input" style="color: black" required>
    <div class="line-box">
        <div class="line"></div>
    </div>
    <label for="lastName" style="display: block;">
        <p class="label-txt">Last name:</p>
        <input id="lastName" name="lastName" type="text" class="input" style="color: black" required>
        <div class="line-box">
            <div class="line"></div>
        </div>
        <label for="nickname" style="display: block;">
                    <p class="label-txt">Nickname</p>
                    <input id="nickname" name="nickname" type="text" class="input" style="color: black" required>
                    <div class="line-box">
                        <div class="line"></div>
            </div>
            <label for="nickname" style="display: block;">
                <p class="label-txt">Password</p>
                <input id="password" name="password" type="text" class="input" style="color: black" required>
                <div class="line-box">
                    <div class="line"></div>
                </div>
            </label>
        </label>
    </label>
</label>
<button type="submit">REGISTER</button>
</body>
</html>
</DOCTYPE>